* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --branco: #ffffff;
  --preto: #000000;
  --azul: #295dd6;
  --azul-escuro: #324252;
  --cinza-escuro: #545454;
  --cinza: #e1e1e5;
}

body {
  background-color: var(--cinza);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-container {
  margin-bottom: 28px;
}

h1.title {
  font-family: Inter;
  font-size: 62px;
  font-weight: 700;
  background: linear-gradient(180deg, #399dfa 0%, #134dd6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.form-container {
  font-family: "Poppins", sans-serif;
}

.form-container form {
  display: flex;
  gap: 16px;
}

input#search {
  width: 458px;
  height: 62px;
  border-radius: 4px;
  appearance: none;
  border: 0;
}

::placeholder {
  color: var(--cinza);
}

button.btn-search {
  background-color: var(--azul);
  width: 162px;
  height: 62px;
  border-radius: 4px;
  color: white;
  appearance: none;
  border: 0;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.result {
  font-family: "Poppins", sans-serif;
  background-color: var(--branco);
  margin-top: 24px;
}

.data {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 47px;
  text-align: center;
}

.cidade {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin-top: 11px;
}

.temperatura {
  font-family: Poppins;
  font-size: 123.34px;
  font-weight: 700;
  line-height: 185.01px;
  text-align: center;
  margin-top: 3.71px;
}

.condicao {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  margin-top: 25.29px;
}

